.url {
    width: 90%;
    height: 2em;
    /*
    border-radius: 10px;
    */
}

.btndiv {
    position: relative;
    margin: auto;
    top: 10px;
    font-size: 2em;
}

.btn {
    position: relative;
    vertical-align: middle;
    color: darkblue;
    font-weight: bold;

    /*
    border-radius: 4px;        
    padding: 4px 18px;
    */
}

.bigfont {
    font-size: 3em;
    /*
    font-weight: bold;
*/
    color: darkblue;
}

body {
    text-align: center;
}

.center-div {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 150px;
    min-height: 144px;
    /*
    background-color: #ccc;
    */
}

/*
div {
    border: 1px solid tomato;
}
*/

center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.error {
	color: red;
}